<div class="container">
  <div class="input-section">
    <h2 class="grupo-titulo">{{ form.value.tipo === 'ENTRADA' ? 'Entradas' : 'Saídas' }}</h2>

    <form [formGroup]="form" (ngSubmit)="salvar()">
      <!-- Tipo -->
      <div class="input-group">
        <select formControlName="tipo">
          <option value="ENTRADA">Entrada</option>
          <option value="SAIDA">Saída</option>
        </select>
      </div>

      <!-- Descrição -->
      <div class="input-group">
        <input type="text" formControlName="descricao" placeholder="Descrição" />
      </div>

      <!-- Valor -->
      <div class="input-group">
        <input type="number" formControlName="valor" placeholder="Valor" />
      </div>

      <!-- Data + Origem -->
      <div
        class="input-group"
        style="display: flex; gap: 8px; justify-content: center"
      >
        <input type="date" formControlName="data" />

        <select formControlName="origem">
          <option value="" disabled>Selecione a origem</option>
          <option value="SEDE">SEDE</option>
          <option value="Vila Santana">Vila Santana</option>
          <option value="Rio Grande II">Rio Grande II</option>
          <option value="Jupagua">Jupagua</option>
        </select>
      </div>

      <div *ngIf="form.value.tipo === 'ENTRADA'" class="input-group">
  <select formControlName="natureza_entrada">
    <option value="" disabled>Selecione</option>
    <option value="DIZIMO">Dízimo</option>
    <option value="OFERTA">Oferta</option>
  </select>
</div>


      <!-- CAMPOS SÓ DE SAÍDA -->
      <div *ngIf="form.value.tipo === 'SAIDA'">
        <div class="input-group">
          <select formControlName="categoria">
            <option value="" disabled>Selecione a categoria</option>
            <option value="Alimentação">Alimentação</option>
            <option value="Energia">Energia</option>
            <option value="Água">Água</option>
            <option value="Internet">Internet</option>
            <option value="Missões">Missões</option>
            <option value="Prebenda Pastoral">Prebenda Pastoral</option>
            <option value="Fundo Convencional">Fundo Convencional</option>
            <option value="Material de Construção">Material de Construção</option>
            <option value="Zeladora">Zeladora</option>
            <option value="Ajuda Social">Ajuda Social</option>
            <option value="Outros Gastos">Outros Gastos</option>
            <option value="Combustível">Combustível</option>
            <option value="Material de Limpeza">Material de Limpeza</option>
            <option value="Material de Expediente">Material de Expediente</option>
          </select>
        </div>

        <div class="input-group">
          <input
            type="text"
            formControlName="grupo"
            placeholder="Grupo (opcional)"
          />
        </div>

         <div class="input-group">
          <input
            type="text"
            formControlName="cpf_cnpj"
            placeholder="CPF/CNPJ"
          />
        </div>

        <div class="input-group">
          <input
            type="text"
            formControlName="numero_nota"
            placeholder="Número da nota"
          />
        </div>
      </div>

      <button type="submit" [disabled]="form.invalid">
        Salvar
      </button>
    </form>
  </div>
</div>

<div class="entries-section">
  <h2 class="grupo-titulo">Entradas</h2>

  <table class="entries-table">
    <thead>
      <tr>
        <th>Data</th>
        <th>Descrição</th>
        <th>Origem</th>
        <th>Tipo</th>
        <th>Valor</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let l of entradas">
        <td>{{ l.data | date:'dd/MM/yyyy' }}</td>
        <td>{{ l.descricao?.toUpperCase() }}</td>
        <td>{{ l.origem }}</td>
        <td>{{ l.natureza_entrada }}</td>
        <td class="income-value">
          {{ l.valor | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="entries-section" style="margin-top: 24px;">
  <h2 class="grupo-titulo">Saídas</h2>

  <!-- filtros -->
  <div class="filters">
    <select [(ngModel)]="filtroCategoria">
      <option value="">Categoria</option>
      <option value="Água">Água</option>
      <option value="Energia">Energia</option>
      <option value="Internet">Internet</option>
    </select>

    <select [(ngModel)]="filtroGrupo">
      <option value="">Grupo</option>
      <option value="Administração">Administração</option>
      <option value="Missões">Missões</option>
      <option value="Obra">Obra</option>
    </select>

    <select [(ngModel)]="filtroOrigem">
      <option value="">Origem</option>
      <option value="SEDE">Sede</option>
      <option value="Jupaguá">Jupaguá</option>
      <option value="Vila Santana">Vila Santana</option>
    </select>
  </div>

  <!-- agrupamento -->
  <ng-container *ngFor="let grupo of saidasAgrupadasPorGrupo">
    <h3 class="grupo-titulo">Grupo {{ grupo[0] }}</h3>

    <table class="entries-table">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Data</th>
          <th>Numero da nota</th>
          <th>CPF/CNPJ</th>
          <th>Valor</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let l of grupo[1]">
          <td>{{ l.descricao?.toUpperCase() }}</td>
          <td>{{ l.data | date:'dd/MM/yyyy' }}</td>
          <td>{{ l.numero_nota }}</td>
          <td>{{ l.cpf_cnpj }}</td>
          <td class="expense-value">
            {{ l.valor | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
          </td>
        </tr>

        <tr class="total-grupo">
          <td colspan="4"><strong>Total do grupo</strong></td>
          <td class="expense-value">
            {{ getTotalGrupo(grupo[1]) | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>

