<table class="finance-table">
  <thead>
    <tr>
      <th>Data</th>
      <th>Dízimos</th>
      <th>Ofertas</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of relatorio">
   <tr *ngFor="let row of relatorio">
  <td>{{ row.data | date:'dd/MM/yyyy' }}</td>
  <td>{{ row.dizimos | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
  <td>{{ row.ofertas | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
  <td class="total">
    {{ row.total | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
  </td>
</tr>

  </tbody>

  <tfoot>
    <tr>
      <td colspan="3" class="total-label">Total de Receitas</td>
      <td class="valor total-geral">
        {{ totalReceitas | currency:'BRL' }}
      </td>
    </tr>
  </tfoot>
</table>
